    
    {%load static%}
    <!-- Required Jquery -->
    <script type="text/javascript" src="{%static 'assets1/js/jquery/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'assets1/js/jquery-ui/jquery-ui.min.js'%} "></script>
    <script type="text/javascript" src="{%static 'assets1/js/popper.js/popper.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'assets1/js/bootstrap/js/bootstrap.min.js '%}"></script>
    <script type="text/javascript" src="{%static 'assets1/pages/widget/excanvas.js'%} "></script>
    <!-- waves js -->
    <script src="{% static 'assets1/pages/waves/js/waves.min.js'%}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'assets1/js/jquery-slimscroll/jquery.slimscroll.js'%} "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'assets1/js/modernizr/modernizr.js'%} "></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="{% static 'assets1/js/SmoothScroll.js'%}"></script>
    <script src="{% static 'assets1/js/jquery.mCustomScrollbar.concat.min.js'%} "></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'assets1/js/chart.js/Chart.js'%}"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js'%}"></script>
    <script src="{% static 'assets1/pages/widget/amchart/gauge.js'%}"></script>
    <script src="{% static 'assets1/pages/widget/amchart/serial.js'%}"></script>
    <script src="{% static 'assets1/pages/widget/amchart/light.js'%}"></script>
    <script src="{% static 'assets1/pages/widget/amchart/pie.min.js'%}"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="{% static 'assets1/js/pcoded.min.js'%}"></script>
    <script src="{% static 'assets1/js/vertical-layout.min.js'%} "></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'assets1/pages/dashboard/custom-dashboard.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets1/js/script.js'%} "></script>