 <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
                  <nav class="pcoded-navbar">
                      <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                      <div class="pcoded-inner-navbar main-menu">
                          <div class="">
                              <div class="main-menu-header">
                                  <!-- <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image"> -->
                                  <div class="user-details">
                                      <span id="more-details">{{ request.user.username }}</span>
                                  </div>
                              </div>
        
                            
                          </div>
                          <div class="p-15 p-b-0">
                              
                          </div>
                          
                          <ul class="pcoded-item pcoded-left-item">
                              <li class="active">
                                  <a href="{%url 'supplierdashboard' %}" class="waves-effect waves-dark">
                                      <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                      <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                      <span class="pcoded-mcaret"></span>
                                  </a>
                              </li>
                              
                                  
                                      <li class="">
                                          <a href="#insert-view" class="waves-effect waves-dark">
                                              <span class="pcoded-micon"><i class="ti-pencil-alt"></i></span>
                                              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Add/View LPG</span>
                                              <span class="pcoded-mcaret"></span>
                                          </a>
                                      </li>
                                      <li class=" ">
                                          <a href="{%url 'report' %}" class="waves-effect waves-dark">
                                              <span class="pcoded-micon"><i class="ti-clipboard"></i></span>
                                              <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">View report </span>
                                              <span class="pcoded-mcaret"></span>
                                          </a>
                                      </li>
                                    </ul>
                           
                          
                         
                              
        
                          
                      
                  </nav>
        