
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>


<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gas Booking</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'dash/img/favicon.png'%}" rel="icon">
  <link href="{%static 'dash/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="{%static 'dash/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'dash/vendor/simple-datatables/style.css'%}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{% static 'dash/css/style.css'%}" rel="stylesheet">
  
</head>

<body>

  {%include 'customer_dash/sidebar.html'%}
  {%include 'customer_dash/header.html'%}
  

  <main id="main" class="main">


    <div class="tab-content pt-2">

      <div class="tab-pane fade show active profile-overview" id="profile-overview">
        <h5 class="card-title">About</h5>
        <p class="small fst-italic">Information about User</p>
        <h5 class="card-title">Profile Details</h5>

        <div class="row">
          <div class="col-lg-3 col-md-4 label ">Username</div>
          <div class="col-lg-9 col-md-8">{{request.user}}</div>
        </div>
        


        <div class="row">
          <div class="col-lg-3 col-md-4 label">Password</div>
          <div class="col-lg-9 col-md-8">{{request.user.password}}</div>
        </div>
   


      </div>
      
    </main>
       
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dash/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'dash/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'dash/vendor/chart.js/chart.min.js'%}"></script>
  <script src="{% static 'dash/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'dash/vendor/quill/quill.min.js'%}"></script>
  <script src="{% static 'dash/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'dash/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'dash/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'dash/js/main.js'%}"></script>

</body>

</html>